<mat-nav-list>
  <a mat-list-item routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="navigation-list-label" (click)="closeMenu()">Home</span>
  </a>
  <a mat-list-item routerLink="/auth/login">
    <mat-icon>login</mat-icon>
    <span class="navigation-list-label" (click)="closeMenu()">Login</span>
  </a>
  <a mat-list-item>
    <mat-icon>engineering</mat-icon>
    <span class="navigation-list-label" (click)="showMantenedores = !showMantenedores">Mantenedores</span>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showMantenedores}" >expand_more</mat-icon>
  </a>
  <div class="subMantenedores" *ngIf="showMantenedores" [ngClass]="{'expanded' : showMantenedores}">
    <a mat-list-item routerLink="/mantenedores/asociacion/">
      <span class="navigation-list-label__sub-menu" (click)="closeMenu()">Asociación</span>
    </a>
  </div>
</mat-nav-list>
